@import "../global/global.scss";
@import "../mixin";
@import "../index/index.scss";

body {
  background-image: url("../../starter-code/assets/destination/background-destination-desktop.jpg");
}

main {
  margin-top: 5rem;

  @include flex(flex-start, space-between);
  flex-direction: column;
}

.content {
  @include flex(flex-start, center);

  margin-top: 2rem;

  img {
    width: 80%;
  }
}

.textContent {
  flex: 1;
}

.destinationNavigation {
  @include flex(center, space-between);
  width: 50%;

  flex: 1;

  li {
    margin-right: 2rem;
    text-transform: uppercase;
    font-size: var(--navText);
    a {
      position: relative;
      padding-bottom: 0.5rem;

      &:hover::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--light);
        left: 0;
        bottom: 0;
      }
    }
  }
}

.text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 3rem;
  margin-bottom: 1rem;
  width: 80%;

  .title {
    margin-top: 1rem;
  }
}

.avgDistance {
  @include flex(flex-start, flex-start);
}

.avg,
.estTime {
  @include flex(flex-start, center);
  flex-direction: column;
  margin-right: 3rem;
}

.timeTravel,
.distance {
  font-size: var(--subheading1);
  text-transform: uppercase;
  margin-top: 1rem;
}

.active-nav {
  font-weight: 500;
  color: var(--extra-light);
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--extra-light);
    left: 0;
    bottom: 0;
  }
}

// media
//

@media (max-width: 820px) {
  body {
    background-image: url("../../starter-code/assets/destination/background-destination-tablet.jpg");
    height: auto;
  }

  main {
    margin-top: 2rem;
    flex-direction: column;
    width: 100%;
    padding: 0rem 2rem;
  }

  .content {
    @include flex(center, center);
    flex-direction: column;

    margin-top: 3rem;

    img {
      width: 80%;
    }
  }

  .textContent {
    text-align: center;
    margin-top: 3rem;
  }

  .destinationNavigation {
    @include flex(center, center);
    width: 100%;
  }

  .text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;

    .title {
      margin-top: 2rem;
    }
    .description {
      margin: 0 auto;
      width: 70%;
    }
  }

  .avgDistance {
    @include flex(flex-start, center);
  }

  .avg,
  .estTime {
    @include flex(center, center);
  }
}
