@import "../mixin";
@import "../global/global.scss";
@import "../index/index.scss";

body {
  background-image: url("../../starter-code/assets/crew/background-crew-desktop.jpg");
}

main {
  margin-top: 2rem;
  width: 80%;
  height: 100%;
  align-items: flex-start;
}

.crew-title {
  grid-area: first;
}

.content {
  height: 100%;

  display: grid;
  grid-template-areas:
    "first third"
    "second third";
}

.text-content {
  @include flex(flex-start, space-between);
  flex-direction: column;
  height: 70%;
  grid-area: second;
}

.crew__details {
  .role,
  .crew-name {
    text-transform: uppercase;
  }

  .crew-name {
    margin-bottom: 1rem;
  }

  .crew-bio {
    width: 70%;
  }
}

.crew-image {
  grid-area: third;
  img {
    width: 100%;
    height: 100%;
  }
}

.crew-navigation {
  @include flex(flex-end, flex-start);

  li {
    margin: 1rem 1rem 0 0;
    cursor: pointer;
    &:hover {
      & > svg > circle {
        fill: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.active-crew {
  circle {
    fill: white;
  }
}

@media (max-width: 820px) {
  body {
    background-image: url("../../starter-code/assets/crew/background-crew-tablet.jpg");
    height: auto;
  }

  main {
    margin: 2rem;
    width: 100%;
  }

  .content {
    height: 100%;
    grid-template-areas:
      "first "
      "second" " third";
  }

  .crew-title {
    text-align: left;
    margin-bottom: 3rem;
  }

  .crew__details {
    .crew-bio {
      width: 60%;
      margin: 0 auto;
    }
  }

  .crew-image {
    img {
      width: 50%;
      height: auto;
    }
  }

  .crew-navigation {
    margin: 2rem auto;
  }
}

@media (max-width: 450px) {
  body {
    background-image: url("../../starter-code/assets/crew/background-crew-mobile.jpg");
    height: auto;
  }

  main {
    margin: 0;
    padding: 2rem;
    width: 100%;
  }

  .content {
    text-align: center;

    .crew-title {
      margin-bottom: 2rem;
      width: 100%;
      text-align: center;
    }

    .crew-image {
      grid-area: second;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      img {
        width: 50%;
        height: auto;
      }
    }
  }

  .crew-navigation {
    margin: 2rem auto;
  }

  .text-content {
    grid-area: third;
    display: grid;
    grid-template-areas: "1" "2";
  }
  .crew__details {
    grid-area: 2;
    .crew-bio {
      width: 100%;
      margin: 0 auto;
    }
  }
}
